<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406387123118-5sl2ovdqvnjj0rkifa8qgoopad1cvcsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406387123118-5sl2ovdqvnjj0rkifa8qgoopad1cvcsj</string>
	<key>API_KEY</key>
	<string>AIzaSyBbcejw1sUsHWn2bD0M9kd_4wkWnoI9r_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>406387123118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eden.riverlover</string>
	<key>PROJECT_ID</key>
	<string>yack-67030</string>
	<key>STORAGE_BUCKET</key>
	<string>yack-67030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406387123118:ios:28497906c7e71cead15e3f</string>
</dict>
</plist>